body {
  background-color: #AAD7EF;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
span.hero {
  background-color: blue;
  display: inline;
  width: 100%;
  margin-left: auto;
  height: 80px;
  color: white;
  padding: 0px;
}

span.hero > h1 {
  text-align: bottom;
}
span.navbar {
  float: right;
  background-color: #4b88eb;
  width: 100%;
}
a {
  text-decoration: none;
}
.button {
  background-color: #4b88eb;
  color: white;
  font-size: 30px;
  padding: 15px;
  float: right;
}
.button:hover {
  background-color: #76a6f5;
  color: white;
}
.button:active {
  background-color: #2561c4;
  color: #76a6f5;
}
img.navbar_img {
  margin: 15px;
}
@font-face {
font-family: ('MyriadPro-Regular'),
src: url('fonts/MyriadPro-Regular.ttf ') format("truetype");
}
