body {
  background-color: #e8f0fc;
  font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
div.hero {
  positon: relative;
  text-align: center;
  background-color: #AAD7EF;
  width: 100%;
  height: 200px;
  margin: 0px;
}
img.hero_img {
  height: 200px;
  width: 100%;
}
span.navbar {
  background-color: #4b88eb;
  width: 100%;
  height: 64.5px;
  float: right;
}
a {
  text-decoration: none;
}
.button {
  background-color: #4b88eb;
  color: white;
  font-size: 30px;
  padding: 15px;
  float: right;
}
.button:hover {
  background-color: #76a6f5;
  color: white;
}
.button:active {
  background-color: #2561c4;
  color: #76a6f5;
}
img.navbar_img {
  margin: 10px 15px;
}
@font-face {
font-family: ('MyriadPro-Regular'),
src: url('fonts/MyriadPro-Regular.ttf ') format("truetype");
}

div.first_post {
  margin: 100px 50px 50px 50px;
  height: 220px;
  background-color: #AAD7EF;
  padding: 10px;
}
img.first_post_img {
  margin: 14px;
  float: left;
}
h2.first_post_header {
  color: #f7ffff;
  font-size: 30px;
  text-shadow: 2px 2px black;
}
p.first_post_text {
  color: black;
  font-size: 20px;
  top-margin: 0px;
}
